@import "../../App.scss";
.projects {
  height: 100%;
  background-color: #222;
  .container {
    @include container();
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .first {
        flex: 1;
        height: 100%;

        .first-img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
      .last {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;

        .last-img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
  }
}
