@import "../../App.scss";

.skills {
  background-color: #191919;

  .container {
    height: 200px; // Ajusta la altura según sea necesario
    overflow: hidden;
    display: flex;
    align-items: center; // Centra verticalmente los hijos
    position: relative;
    margin: 0 auto;
    @include container();

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      z-index: 2;
    }

    &::before {
      content: "";
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #191919);
    }

    &::after {
      content: "";
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #191919);
    }

    .logos-slide,
    .logos-slide-copy {
      height: 100%;
      left: 100%;
      top: 50%; // Asegura el centrado vertical
      transform: translateY(-50%); // Compensa el 50% del alto para centrar
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
    }

    .logos-slide {
      display: flex;
      align-items: center; // Asegura el centrado vertical del contenido
      gap: 40px;
      justify-content: space-around;
      animation: scroll-horizontal 20s linear infinite;

      img {
        height: 75px; // Mantiene la relación de aspecto
      }
    }

    .logos-slide-copy {
      animation: scroll-horizontal 20s linear infinite;
      animation-delay: 10s;
    }
  }

  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

  @include mobile {
    .container {
      height: 100px;

      .logos-slide,
      .logos-slide-copy {
        top: 50%;
      }
      .logos-slide{

        img {
          height: 30px;
        }
      }
    }
  }
}
