@import "../../App.scss";
.skills {
  background-color: #191919;

  .container {
    @include container();
    height: 100%;
    width: 100%;
    display: flex;
    padding: 60px 0;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    position: relative;
    @media (min-width: 769px) {
      &:hover .logos-slide {
        animation-play-state: paused;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      z-index: 2;
    }
    @include mobile {
      &::before,
      &::after {
        display: none;
      }
    }
    &::before {
      content: "";
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #191919);
    }

    &::after {
      content: "";
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #191919);
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .logos-slide {
      display: inline-block;
      animation: 30s slide infinite linear;
      @include mobile {
        animation-duration: 20s;
      }

      img {
        height: 60px;
        margin: 0 40px;

        @include mobile {
          height: 40px;
          margin: 0 20px;
        }
      }
    }
  }
}
