@import "../../App.scss";

.contact {
  height: 100%;
  background-color: #222;
  position: relative;

  .pruebas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .container {
    @include container();
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    @include mobile {
      align-items: center;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 40px;

      @include mobile {
        justify-content: center;
      }
      .left {
        flex: 1;
        display: flex;
        align-items: center;

        @include mobile {
          display: none;
        }
        .contactImage {
          width: 500px;
          object-fit: cover;
          @include mobile {
            width: 350px;
          }

          @include tablet {
            width: 100%;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @include mobile {
          max-width: 80%;
        }

        h1 {
          font-size: 2rem;
          color: lightgray;
          align-self: flex-start;
        }

        .form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 8px;

          input,
          textarea {
            padding: 8px;
            border-radius: 6px;
            caret-color: #f43f5e;
            outline: 2px solid transparent;
            outline-offset: 2px;
            background-color: transparent;
            border: 1px solid #444;
            color: lightgray;
            &::placeholder {
              color: gray;
            }
            @include mobile {
              padding: 10px;
            }
          }
          .btn-contact {
            width: 100%;
            height: 40px;
            font-size: 1rem;
            padding: 8px;
            font-weight: 500;
            color: white;
            border: none;
            border-radius: 6px;
            background-color: $rose;
            box-shadow: 12px 12px black;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 50%;
      margin-top: 20px;

      @include mobile {
        width: 80%;
      }

      div {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;

        .line {
          height: 1px;
          width: 100%;
          background-color: #444;
        }
        .middle {
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
          color: gray;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            svg {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}
