@import "../../App.scss";

.contact {
  height: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  position: relative;

  .container {
    @include container();
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      align-items: center;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @include mobile {
        justify-content: center;
      }

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        @include mobile {
          display: none;
        }

        .contactImage {
          width: 600px;
          object-fit: cover;

          @include mobile {
            width: 350px;
          }

          @include tablet {
            width: 100%;
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @include mobile {
          max-width: 80%;
        }

        h1 {
          font-size: 4rem;
          line-height:1.0625;
          color: lightgray;
          align-self: flex-start;
          @include mobile{
            font-size: 2.25rem;
          }
        }

        .form {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 8px;

          .confetti-explosion-container-0-2-418 {
            position: absolute;
          }

          input {
            width: 100%;
            padding: 10px;
            height: 4rem;
            border-radius: 6px;
            caret-color: #f43f5e;
            font-size: 1rem;
            outline: 2px solid transparent;
            outline-offset: 2px;
            background-color: transparent;
            border: 1px solid #444;
            color: lightgray;

            &::placeholder {
              color: gray;
            }

            @include mobile {
              padding: 15px;
              height: 3.5em;
            }
          }
          textarea{
            font-size: 1rem;
            width: 100%;
            padding: 10px;
            resize: none;
            border-radius: 6px;
            caret-color: #f43f5e;
            outline: 2px solid transparent;
            outline-offset: 2px;
            background-color: transparent;
            border: 1px solid #444;
            color: lightgray;

            &::placeholder {
              color: gray;
            }

            @include mobile {
              padding: 15px;
            }
          }

          .btn-contact {
            width: 100%;
            height: 4rem;
            padding: 0 2rem;
            font-size: 1.2rem;
            line-height: 1.556;
            font-weight: 600;
            color: white;
            border: none;
            border-radius: .25rem;
            background-color: $rose;
            box-shadow: 12px 12px black;
            @include mobile{
              height: 3.5rem;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 50%;
      margin-top: 20px;

      @include mobile {
        width: 80%;
      }

      div {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;

        .line {
          height: 1px;
          width: 100%;
          background-color: #444;
        }

        .middle {
          font-size: 1rem;
          line-height: 28px;
          font-weight: 500;
          color: gray;
          @include mobile{
            font-size: 1.125rem;
          }
        }
      }

      ul {
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
          list-style-type: none;

          a {
            text-decoration: none;

            svg {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}