@import "../../App.scss";

.progress {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  transform-origin: 0%;
  height:5px;
  background-color: $rose;
  @include mobile {
    top: unset;
    bottom: 0;
    height: 8px;
  }
}
