@import "../../App.scss";
.about {
  height: 90%;
  display: flex;
  justify-content: center;
  .container {
    @include container();
    display: flex;
    height: 100%;
    justify-content: space-between;
    gap: 0;

    @include mobile {
      flex-direction: column-reverse;
      justify-content: center;
      padding: 60px 20px 0 20px;
      gap: 20px;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      gap: 8px;

      @include mobile {
        flex: initial;
        align-items: center;
      }
      .career {
        color: rgb(244 63 94);
        text-align: start;
        font-size: 2.5rem;
        line-height: 40px;
        font-weight: 500;
        white-space: normal;
        @include tablet {
          font-size: 2rem;
          line-height: 2rem;
        }

        @include mobile {
          text-align: start;
          font-size: 1.8rem;
          line-height: 2rem;
        }
      }
      .summary {
        width: 550px;
        margin: 10px 0;
        font-size: 1.2rem;
        text-align: start;
        color: lightgray;

        @include tablet {
          width: 90%;
          font-size: 1.2rem;
        }
        @include mobile {
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }
      }
      .resume {
        .btnResume {
          background-color: rgb(244 63 94);
          padding: 8px 16px;
          border-radius: 8px;
          font-size: 1rem;
          color: white;
          display: block;
          text-decoration: none;
          margin-top: 10px;
          box-shadow: -8px 8px #252525;
          @include mobile {
            display: none;
          }
        }
      }
    }
    .rigth {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      width: 100%;

      @include tablet {
        flex: none;
        width: 60%;
      }
      @include mobile {
        width: 100%;
      }
      .image {
        width: 500px;

        @include tablet {
          width: 100%;
        }
        @include mobile {
          width: 350px;
        }
      }
    }
  }
}
